body{
    font-family: Century Gothic;
    background-color: #99CCFF;
}

/*.container{
    background: #85B7BD;
}*/

#formulario{
    padding: 1px 20px;
    margin: 90px;
}

#formulario h2{
    font-size: 60px;
    color: #000066;
    font-weight: 500;
}

.sesion input[type="email"],
.sesion input[type="text"],
.sesion input[type="date"],
.sesion input[type="number"],
.sesion input[type="password"]{    
    font-family: Century Gothic;
    font-size: 14px;
    border: 0px solid transparent;
    padding: 15px 20px;
    width: 70%;
    color: black;
}

.isesion input[type="email"],
.isesion input[type="password"]{   
    font-family: Century Gothic; 
    font-size: 14px;
    border: transparent;
    background: white;
    padding: 15px 20px;
    width: 32%;
    color: black;
}



input::placeholder{
    color: #ADB9CA;
 }

 .sesion{
    /*display: flex;
    flex-wrap: wrap;*/
    column-count: 2;
    width: 100%;

}

.btn{
    color: white;
    font-size: 14px;
    background: #3366FF;
    font-family: Century Gothic;
    cursor: pointer;
    border: transparent;
    font-weight: bold;
    padding: 9px 21px;
    border-radius: 4px;
}

.btn:hover {
    background: #7144EE;
    color: white;
    box-shadow: 0.5px 0.8px 0.5px 0.5px #ADB9CA;
}

a{
    color: #000066;
    font-size: 11px;
}

a:hover{
    color: #3366FF;
}
form{
    color: #000066;
    font-size: 11px;
}